{% if resolvedInputsWithDefaults.length > 0 %}
  // Default values.
  {% for input in resolvedInputsWithDefaults %}
    {%- if input.kind === 'instructionAccountNode' -%}
      if (!isSome(resolvedAccounts.{{ input.name | camelCase }}.value)) {
        {{ input.render }}
      }
    {% else %}
      if (!isSome(resolvedArgs.{{ input.name | camelCase }})) {
        {{ input.render }}
      }
    {% endif %}
  {% endfor %}
{% endif %}
